sl-button::part(base) {
    border-radius: unset;
    background-color: unset;
    color: unset;
    border: none;

    padding: unset;
    &:hover {
        color: var(--sl-color-primary-600);
    }
}
sl-button::part(label) {
    font-family: 'Recursive', monospace;
    line-height: unset;
}