.content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
@media only screen and (min-width: 1224px) {
    .content {
        flex-direction: row;
    }
}

.selfie {
    max-width: 100%;
    max-height: 70vh;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.secondary {
    width:100%;
    text-align:center;
}
.badges {
    display: inline-block;
}