html,
body {
  font-family: pt-sans-pro, sans-serif;
  margin-left: var(--sl-spacing-small);
  margin-right: var(--sl-spacing-small);
  margin-bottom: var(--sl-spacing-large);
}

@media only screen and (min-width: 1224px) {
  html,
  body {
    margin-left: var(--sl-spacing-2x-large);
    margin-right: var(--sl-spacing-2x-large);
  }
}

.thumbnail,
.image {
  width: 100%;
  height: 100%;
}