@import 'typography.css';
html,
body {
    font-family: 'Recursive', monospace;
	background-color: var(--sl-color-neutral-50);
}

.header a,
.header a:hover,
.header a:visited,
.header a:active {
	color: inherit;
	text-decoration: none;
}
