@page "/about"

<div class="content">
    <div class="blurb">
        <h3>Hi. I'm Logan.</h3>
        <p>I'm a full time software engineer, with @YearsInField years in the industry, with a strong technical
            background
            in .NET and MSSQL. I have a passion for helping others realise their potential and enjoy mentorship and
            elevating the abilities of my peers.</p>
        <p>I'm a hobbyist photographer in my free time. I enjoy capturing depth, colour, and detail, and frequently use
            my
            photography to express my emotions.</p>

    </div>

    <img src="/assets/Selfie.jpg" class="selfie" />

</div>
@code {
    protected int YearsInField => DateTime.Now.Year - 2013;
}