@page "/"
@inject HttpClient HttpClient
@inject IConfiguration Configuration

@if(manifest == null)
{
    <div>Loading</div>
}
else
{
    foreach(var album in manifest.Albums)
    {
        <h2>@album.Value.Title</h2>
        <div>
            @foreach(var image in album.Value.Images)
            {
                <img src="@GetThumbnailFromMetadata(image.Value)" />
            }
        </div>
    }
}

@code {
    protected Manifest manifest;
    private string storageRoot;
    protected override async Task OnInitializedAsync()
    {
        storageRoot = Configuration["storageUrl"];
        manifest = await HttpClient.GetFromJsonAsync<Manifest>($"{storageRoot}/portfolio/manifest.json");
    }

    protected string GetThumbnailFromMetadata(ImageMetadata metadata)
    {
        var thumbnail = metadata.Hrefs["thumbnail2x"];
        return $"{storageRoot}/portfolio/{thumbnail}";
    }
}