@page "/"
@inject IManifestProvider ManifestProvider
@inject IConfiguration Configuration

@if (Album == null)
{
    <div>Loading</div>
}
else
{
    <div class="image-container">
        @foreach (var image in Album.Images.OrderByDescending(x => x.Value.CaptureDate))
        {
            <ImageThumbnail Metadata="@image.Value"></ImageThumbnail>
        }
    </div>   
}

@code {
    protected contracts.Album Album { get; private set; }
    private string storageRoot;
    protected override async Task OnInitializedAsync()
    {
        this.storageRoot = this.Configuration[Constants.Configuration.StorageRoot];
        var manifest = await this.ManifestProvider.Manifest;
        this.Album = manifest.Albums[this.Configuration[Constants.Configuration.IndexAlbumId]];
    }
}