h1 {
    text-transform: uppercase;
    font-size: 100%;
}

.header {
    padding-left: var(--sl-spacing-small);
    padding-right: var(--sl-spacing-small);
    background-color: var(--sl-color-neutral-100);
    margin-bottom: var(--sl-spacing-small);
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    @media only screen and (min-width: 1224px) {
        padding-left: var(--sl-spacing-2x-large);
        padding-right: var(--sl-spacing-2x-large);
    }
}

.nav-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 480px) {
        flex-direction: column;
        align-items: flex-start;
        font-size: var(--sl-font-size-large);
    }
}

.brand,
.menu-button {
    margin-top: var(--sl-spacing-small);
    margin-bottom: var(--sl-spacing-small);
    font-size: var(--sl-font-size-x-large);
}

.menu-button {
    flex: 0 0 auto;
    margin-top: var(--sl-spacing-medium);
}

nav {
    @media screen and (max-width: 480px) {
        margin-bottom: var(--sl-spacing-medium);
        display: none;
        background-color: var(--sl-color-neutral-150);
        &.expanded {
            display: unset;
            width: 100%;
            ul {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--sl-spacing-medium);
        padding-inline-start: 0;
        margin: 0;
        li {
            min-height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}
.menu-button {
    display: none;
    @media only screen and (max-width: 480px) {
        display: block;
        transform: rotate(0deg);
        transition: all 0.25s ease-in;

        &.expanded {
            transform: rotate(180deg);
            transition: all 0.25s ease-out;
        }
    }
}