<div class="header">
    <div class="brand"><a href="/"><h3>LOGAN DAM</h3></a></div>
    <div class="socials">
        <sl-tooltip content="Github">
            <sl-icon-button name="github" target="_blank" label="github" href="https://github.com/biltongza"></sl-icon-button>
        </sl-tooltip>
        <sl-tooltip content="LinkedIn">
            <sl-icon-button name="linkedin" target="_blank" label="linkedin" href="https://www.linkedin.com/in/logan-dam/"></sl-icon-button>
        </sl-tooltip>
        <sl-tooltip content="Instagram">
            <sl-icon-button name="instagram" target="_blank" label="instagram" href="https://www.instagram.com/thebiltong/"></sl-icon-button>
        </sl-tooltip>
        <sl-tooltip content="Twitter">
            <sl-icon-button name="twitter" target="_blank" label="twitter" href="https://twitter.com/TheBiltong"></sl-icon-button>
        </sl-tooltip>
    </div>
</div>