@inject IConfiguration Configuration
@inject IViewportService ViewportService

<a href="@ImageRoute">
    <img 
        loading="lazy" 
        src="@src" 
        srcset="@srcset" />
</a>

@code {
    [Parameter]
    public ImageMetadata Metadata { get; set; }
    
    private string ImageRoute { get; set; }
    private string src { get; set; }
    private string srcset { get; set; }
    
    private static readonly Dictionary<string, string> HrefToWidthMap = new Dictionary<string, string>
    {
        { "thumbnail2x", "" },
        { "640", "1.5x" },
    };

    protected override async Task OnInitializedAsync()
    {
        var storageRoot = Configuration[Constants.Configuration.StorageRoot];
        this.src = BuildSrc(this.Metadata.Hrefs["640"]);
        this.srcset = string.Join(", ", HrefToWidthMap.Select(x => $"{BuildSrc(this.Metadata.Hrefs[x.Key])} {x.Value}".Trim()));
        
        await base.OnInitializedAsync();

        string BuildSrc(string thing) => $"{storageRoot}/portfolio/{thing}";
    }
}