@inject IConfiguration Configuration
<a href="@ImageRoute">
    <img src="@ThumbnailUrl" />
</a>
@code {
    [Parameter]
    public ImageMetadata Metadata { get; set; }
    protected string ThumbnailUrl { get; private set; }
    protected string ImageRoute { get; private set; }
    protected override Task OnInitializedAsync()
    {
        var storageRoot = Configuration[Constants.Configuration.StorageRoot];
        var thumbnail = this.Metadata.Hrefs["thumbnail2x"];
        this.ThumbnailUrl = $"{storageRoot}/portfolio/{thumbnail}";
        this.ImageRoute = $"image/{this.Metadata.Id}";
        return Task.CompletedTask;
    }
}