
.thumbnails {
    line-height: 0;
    display: grid;
    column-gap: var(--sl-spacing-small);
    row-gap: var(--sl-spacing-small);
    place-items: center;
    justify-content: center;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(var(--thumbnail-size), max-content);
}

.thumbnail.span-col {
    grid-column: span 2;
}
@media only screen and (max-width: 640px) {
    .thumbnail.span-col {
        grid-column: initial;
    }
}

@media only screen and (min-width: 768px) {
    .thumbnails {
        grid-template-columns: repeat(4, fit-content(var(--thumbnail-size)));
    }
}

@media only screen and (min-width: 1200px) {
    .thumbnails {
        grid-template-columns: repeat(6, fit-content(var(--thumbnail-size)));
    }
}

h2 {
    text-align: center;
}